@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

*,
body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --header-height: 3.5rem;

    /* =====color===== */
    --bg-color: hsl(211, 93, 52);
    --first-color: hsl(253, 52%, 53%);
    --first-color-dark: hsl(256, 81%, 45%);
    --first-color-light: hsl(251, 78%, 73%);
    --title-color: hsl(0, 0%, 87%);
    --text-color: hsl(0, 0%, 69%);
    --body-color: hsl(200, 12%, 5%);
    --container-color: hsl(200, 10%, 8%);
    --border-color: hsl(0, 0%, 20%);
    --white: #fff;

    /* =========font and typography============== */
    --body-font: 'Poppins', sans-serif;
    --big-font-size: 3rem;
    --h1-font-size: 2.5rem;
    --h2-font-size: 2.25rem;
    --h3-font-size: 1.5rem;
    --larger-font-size: 1.2rem;
    --large-font-size: 1.125rem;

    /* ====== font-weight====== */
    --weight-300: 300;
    --weight-400: 400;
    --weight-600: 600;
    --weight-800: 800;
}

/* ====== check ======= */
.header,
.side-nav,
.main {
    border: 1px solid black;
    padding: 10px;
    font-size: 20px;
    margin: 5px;
    background-color: wheat;
}

body {
    display: grid;
    grid-template-columns: 3fr 9fr;
    background-color: blueviolet;
}